<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.weix.whatever.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="me.weix.whatever.pojo.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="system_id" property="systemId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, p_id, system_id, code, desc, url, orders, create_by, create_time, update_by, 
    update_time, status, deleted
  </sql>

  <select id="getPermissionsByRoleId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM t_permission p
    LEFT JOIN role_permission rp ON p.id = rp.permission_id
    WHERE rp.role_id = #{roleId, jdbcType=INTEGER}
    AND p.status = 1 AND rp.status = 1 AND p.deleted = 0 and rp.deleted = 0
  </select>

</mapper>