<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="logDir" value="/logs" />

	<!--<appender name="file"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			&lt;!&ndash;日志文件输出的文件名&ndash;&gt;
			<FileNamePattern>${logDir}/whatever.%d{yyyy-MM-dd}.log</FileNamePattern>
			&lt;!&ndash;日志文件保留天数&ndash;&gt;
			<maxHistory>15</maxHistory>
			<totalSizeCap>30GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
		&lt;!&ndash;日志文件最大的大小&ndash;&gt;
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
	</appender>-->

	<!--控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level%logger{56}.%method:%L -%msg%n</Pattern>
		</encoder>
	</appender>



	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="test,dev">
		<logger name="org.springframework" level="info" />
		<logger name="me.weix.whatever.mapper" level="info"/>
	</springProfile>

	<!-- 生产环境. -->
	<springProfile name="prod">
		<logger name="org.springframework" level="info">
			<appender-ref ref="file"/>
		</logger>
		<logger name="com.example" level="ERROR" />
	</springProfile>




</configuration>