<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="logDir" value="/logs" />

	<appender name="MY_FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${logDir}/whatever.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!--日志文件保留天数-->
			<maxHistory>15</maxHistory>
			<totalSizeCap>30GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
		<!--日志文件最大的大小-->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="MY_FILE" />
	</root>

	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="test,dev">
		<logger name="org.springframework" level="debug">
			<appender-ref ref="MY_FILE"/>
		</logger>
		<logger name="me.weix.whatever.mapper" level="debug" />
	</springProfile>

	<!-- 生产环境. -->
	<springProfile name="prod">
		<logger name="org.springframework" level="info">
			<appender-ref ref="MY_FILE"/>
		</logger>
		<logger name="com.example" level="ERROR" />
	</springProfile>




</configuration>