<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logDir" value="logs" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        	<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%msg：日志消息，%n是换行符--> 
            <!--<pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- 按照每天生成日志文件 --> 
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>${logDir}/whatever.log</file> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<!--日志文件输出的文件名-->
            <fileNamePattern>${logDir}/whatever.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mybatis" additivity="false" level="DEBUG"/>

    <logger name="org.apache.ibatis" level="DEBUG"/>

    <logger name="java.sql" additivity="false" level="DEBUG"/>

    <logger name="org.springframework" level="info" additivity="false"/>

    <logger name="springfox.documentation" level="info" additivity="false"/>

    <!-- project default level -->
    <logger name="com.wx" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>